.bars {
  height: 20px;
  width: 200px;
}

.bar {
  height: 100%;
  width: 0%;
  transition: width 0.5s;
  background: green;
  color: white;
  text-align: center;
  vertical-align: center;
  margin: 5px;
}
