nav ul {
  font-family: sans-serif;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
}

nav ul a {
  line-height: 1.8em;
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #333;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li:hover {
  background: #f6f6f6;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

nav ul ul li {
  float: none;
  width: 175px;
}

nav ul li:hover > ul {
  display: block;
}

nav ul ul ul {
  top: 0;
  left: 100%;
}

nav ul ul ul li:hover ul {
  display: block;
}

.cf:after {
  display: block;
  content: "";
  clear: both;
}

.tooltip {
  display: none;
}

span:hover + div {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bottom {
  clear: both;
}
